<!doctype html>
<html lang="en">

    <head>
        <meta charset="utf-8">

        <title>reveal.js - The HTML Presentation Framework</title>

        <meta name="description" content="A framework for easily creating beautiful presentations using HTML">
        <meta name="author" content="Hakim El Hattab">

        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

        <link rel="stylesheet" href="css/reveal.min.css">
        <link rel="stylesheet" href="css/theme/night.css" id="theme">

        <!-- For syntax highlighting -->
        <link rel="stylesheet" href="lib/css/zenburn.css">

        <!-- If the query includes 'print-pdf', include the PDF print sheet -->
        <script>
            if (window.location.search.match(/print-pdf/gi)) {
                var link = document.createElement('link');
                link.rel = 'stylesheet';
                link.type = 'text/css';
                link.href = 'css/print/pdf.css';
                document.getElementsByTagName('head')[0].appendChild(link);
            }
        </script>

        <style>
            .reveal section img {
                margin: 0px 0px;
                background: transparent !important;
                border: none !important;
                box-shadow: none !important;
                -webkit-transition: all .2s linear;
                -moz-transition: all .2s linear;
                -ms-transition: all .2s linear;
                -o-transition: all .2s linear;
                transition: all .2s linear;

                .reveal pre {
                    display: block;
                    position: relative;
                    width: 100% !important;
                    margin: 0 !important;
                    text-align: center ;
                    box-shadow: none !important;
                }

                x-foo{
                    width: 50px;
                    height: 15px;
                    border: 1px salmon solid;
                }
            </style>

            <!--[if lt IE 9]>
            <script src="lib/js/html5shiv.js"></script>
            <![endif]-->
        </head>

        <!--
            TODO:
           http://www.slideshare.net/i2devlabs/angular-js-presentation
           https://github.com/bitrut/angularjs-presentation#installation
           https://github.com/tastejs/todomvc/blob/gh-pages/labs/dependency-examples/angularjs_require/js/main.js
           http://todomvc.com/labs/dependency-examples/angularjs_require/#/
           http://slides.com/thomasburleson/using-requirejs-with-angularjs
           http://marcoslin.github.io/angularAMD/#/home
           http://requirejs.org/docs/whyamd.html#today
           http://www.infoq.com/news/2013/08/es6-modules
           https://html5-demos.appspot.com/static/webcomponents/index.html#11
        -->
        <body>
            <div class="reveal">
                <!-- Any section element inside of this container is displayed as a slide -->
                <div class="slides">
                    <section data-background="img/Finalgdg.jpg">

                    </section>

                    <section>
                        <h2>&lt;Desarrollando con/&gt;</h2>
                        <br>
                        <img src="img/AngularJS-large.png">
                        <br>
                        <div>&amp;</div>
                        <br> 
                        <img src="img/webcomponents.png">

                        <div style="padding-right:50px;">
                            <div style="text-align: right; ">
                                <font style="font-size: 24px;" color="#fff2cc">Cristian Rinaldi</font>
                            </div>
                            <div style="text-align: right; ">
                                <font style="font-size: 24px;" color="#cccccc">
                                <a href="www.logikas.com" target="_blank">www.logikas.com</a>
                                </font>
                            </div>
                        </div>
                    </section>

                    <section>
                        <h1>Clientes Web</h1>
                        <br>
                        <p>
                            Los <b>Clientes Web</b> han tomado mucha relevancia, 
                            por lo tanto, debemos tener tener un pensamiento diferente
                            a la hora de encarar desarrollos para la Web Moderna.
                        </p>
                        <h4>Conceptos:</h4>
                        <ul>
                            <li>Browser como Plataforma</li>
                            <li>Organizacion del Codigo</li>
                            <li>Modularidad</li>
                            <li>Tiempo de Carga</li>
                            <li>Testing</li>
                            <li>UX</li>
                            <li>SPA</li>
                            <li>y mucho más</li>
                        </ul>

                        <aside class="notes">
                            El Browser como plataforma
                            Arquetipos
                            Pruebas
                            Modularidad
                        </aside>
                    </section>

                    <!-- Example of nested vertical slides -->
                    <section>
                        <section>
                            <h2>Que es AngularJS</h2>
                            <p> Angular es un <b>Framework</b> que nos permite extender el <b>vocabulario de HTML</b>, dotarlo de <b>dinamismo</b>, para lograr aplicaciones modernas para la Web del presente </p>                              
                        </section>

                        <section>
                            <h2>Que no es AngularJS</h2>
                            <p>No es màgico!!!.</p>
                        </section>

                        <section>
                            <h2>Que nos provee AngulaJS</h2>
                            <ul>
                                <li>Data Binding</li>
                                <li>Routing</li>
                                <li>Expressions Template</li>
                                <li>History</li>
                                <li>Dependency Injection</li>
                                <li>Controllers</li>
                                <li>Directives</li>
                                <li>jQLite</li>
                                <li>Services / Factories</li>
                            </ul>
                        </section>
                    </section>

                    <section>
                        <section>
                            <h2>Boostrping</h2>
                        </section>
                        <section>
                            <pre><code>
&lt;!doctype html&gt;
&lt;html xmlns:ng="http://angularjs.org" ng-app&gt;
  &lt;body ng-app="app"&gt;
    ...
    &lt;script src="angular.js"/&gt;
    &lt;script&gt;
    var app = angular.module('app',
        ['ui.router', 'ngAnimate'] 
    );
    &lt;/script&gt;
  &lt;/body&gt;
&lt;/html&gt;
</code></pre>                            
                            <br>
                            <div>
                                <h4>Inicialización Automatica</h4>
                                <div style="float:right; width: 40%">
                                        <ul>
                                            <li><small>Inicialización cuando el DOM esta completo</small></li>
                                            <li><small>Búsqueda de la directiva ng-app</small></li>
                                            <li><small>Si ng-app es encontrada, se carga el módulo asociado</small></li>
                                            <li><small>Crea el $injector para la aplicacion (DI)</small></li>
                                            <li><small>Compila el DOM tomando como root ng-app</small></li>
                                        </ul>
                                    </div>
                                    <div style="float:left; width: 50%"><img src="img/concepts-startup.png" alt=""></div>
                                </div>
                            </section>
                            <section>
                                <h4>Inicialización Manual</h4>
                                <pre>
<code>
&lt;!doctype html&gt;
&lt;html&gt;
&lt;body&gt;
  Hello {{'World'}}!
  &lt;script src="http://code.angularjs.org/angular.js"&gt;&lt;/script&gt;

  &lt;script&gt;
    angular.module('myApp', [])
      .controller('MyController', ['$scope', function ($scope) {
        $scope.greetMe = 'World';
      }]);

    angular.element(document).ready(function() {
      angular.bootstrap(document, ['myApp']);
    });
  &lt;/script&gt;
&lt;/body&gt;
&lt;/html&gt;
</code></pre>                            
                                <br>
                                <div>
                                    <h5>Cuando?</h5>
                                    <ul>
                                        <li>Cuando necesitamos inicializar algo en nuestra plataforma antes que AngularJS inicie</li>
                                        <li>Cuando utilizamos un script de carga</li>
                                    </ul>
                                    <br>
                                    <small>Se deben definir todos los módulos antes de llamar a angular.bootstrap(document, ['myApp']);</small>
                                </div>
                            </section>
                        </section>

                        <section>
                            <h2>Compilación</h2>
                            <br>
                            <small>
                                <h4>Permite Agregar al nueva sintaxis, es decir nuevos elementos u/o atributos</h4>
                                <br>
                                <br>
                                <h4>El proceso de compilación ocurre en dos fases:</h4>
                                <br>
                                <br>
                                <ul>
                                    <li>Compile: Recorre el DOM buscando directivas, el resultado es una función de linking</li>
                                    <li>Link: Combina las directivas con un scope y produce una vista viva, cualquier cambio en el modelo (scope) es reflejado en la vista y viceversa.</li>
                                </ul>
                            </small>
                        </section>

                        <section>
                            <section>
                                <h2>Que es una Directiva?</h2>
                                <img src="img/homero.jpg" alt="Directiva"/>
                            </section>

                            <section>
                                <p>
                                    Podemos decir que una directiva es una marca en el DOM que sera utilizada por el <b>compilador</b> de AngularJS para anexa algun comportamiento especial a ese elemento, o que transforme el Elemento o sus Hijos. 
                                </p>
                                <br>
                                <h3>
                                    Que significa compilar?  
                                </h3>
                                <p>
                                    Para AngularJS compilar siginifica atachar "event listeners" al HTML para hacerlo interactivo.
                                </p>
                            </section>

                            <section>
                                <pre>
                                <code>
angular.module('myApp', [])
    .directive('myDirective', function() {
        return {
            restrict: 'E',
            template: '<a href="http://google.com">
            Click me to go to Google</a>'
        }
});


&lt;my-directive="someExpression"&gt;
&lt;/my-directive&gt;

&lt;div my-directive="someExpression"&gt;
&lt;/div&gt;

&lt;div class="my-directive:someExpression"&gt;
&lt;/div&gt;


</code>
                                </pre>
                            </section>

                        </section>

                        <section>
                            <section>
                                <h1>Controllers</h1>
                            </section>

                            <section>
                                <p>Los controladores es una funcion que anexa valores y/o comportamiento al scope asociado. Este escope, es tambien manejado por la vista</p>
                                <br>
                                <pre>
<code>
var app = angular.module('app', []);
    app.controller('FirstController', function($scope) {
    $scope.counter = 0;
    $scope.add = function(value){
        $scope.count = $scope.count + value;
    }
    $scope.subtract = function(value){
        $scope.count = $scope.count - value;
    }
});

&lt;div ng-controller="FirstController"&gt;
    &lt;h4&gt;The simplest adding machine ever&lt;/h4&gt;
    &lt;button ng-click="add(1)" class="button"&gt;Add&lt;/button&gt;
    &lt;a ng-click="subtract(1)" class="button alert"&gt;Subtract&lt;/a&gt;
    &lt;h4&gt;Current count: {{ counter }}&lt;/h4&gt;
&lt;/div&gt;

                            </code>
                                </pre>
                            </section>
                        </section>

                        <section>
                            <section>
                                <h2>Expresiones</h2>
                            </section>

                            <section>
                                <p>Angular Expressions son parecidas a las Expressions de JavaScript pero con algunas diferencias, y suelen colocarlse entre "{{}}"</p><br>
                                <p><strong>{{1+5}}</strong></p><br>
                                <p><strong>{{store.products}}</strong></p>
                            </section>

                            <section>
                                <p>Diferencias con JavaScript Expressions</p><br>
                                <p><strong>Contexto:</strong> Las expresiones de JS son evaluadas en el contexto de "windows", las expresiones de Angular son evaluadas en el contexto del scope</p><br>
                                <p><strong>Forgiving:</strong> Las expresiones de JS cuando es evaluado algo no definido, se genera ReferenceError o TypeError, en Angular el resultado es undefined o null</p><br>
                                <p><strong>No Control Flow Statements:</strong> En AngularJS no se puede utilizar condicionales, loops o excepciones.</p><br>
                                <p><strong>Filters: </strong> Es posible utilizar Filtros de Angular en las Expreciones para manejar la presentacion.</p>
                            </section>
                        </section>


                        <section>
                            <section>
                                <h2>Dependency Injection</h2>
                            </section>

                            <section>
                                <p>DI es un patron de software encargado de la creacion de componentes y gestion de sus dependencias</p><br>
                                <p>En Angular el subsistema de DI es el encargado de crear los objectos, gestionar las dependecias y ponerlos publicos para el resto de los componentes</p><br>
                            </section>

                            <section>
                                <pre>
<code>
angular.module('myModule', [])
  .config(['depProvider', function(depProvider){
    ...
  }])
  .run(['depService', function(depService) {
    ...
  }]);    
    
    
someModule.controller('MyController', ['$scope', 'dep1', 'dep2', function($scope, dep1, dep2) {
  ...
  $scope.aMethod = function() {
    ...
  }
  ...
}]);
</code>
                                </pre>
                            </section>



                        </section>

                        <section>
                            <section>
                                <h2>Data Binding</h2>
                                <p>Data-binding es una sincronización automática de datos entre la vista y el modelo. 
                                    La forma en que Angular implementa el data-binding 
                                    permite tratar al modelo como single-source-of-truth en su aplicación. 
                                    La vista es una proyección de la modelo en todo momento. 
                                    Cuando el modelo cambia, la vista refleja el cambio, y viceversa.</p>
                            </section>
                            <section>
                                <img src="img/One_Way_Data_Binding.png" alt=""/>
                                <br>
                                <img src="img/Two_Way_Data_Binding.png" alt=""/>
                            </section>
                        </section>

                        <!--section data-markdown>
                            <script type="text/template">
                                ## Markdown support
    
                                For those of you who like that sort of thing. Instructions and a bit more info available [here](https://github.com/hakimel/reveal.js#markdown).
    
                                ```
                                <section data-markdown>
                                ## Markdown support
    
                                For those of you who like that sort of thing.
                                Instructions and a bit more info available [here](https://github.com/hakimel/reveal.js#markdown).
                                </section>
                                ```
                            </script>
                        </section-->

                        <section>
                            <section>
                                <h1>Scopes</h1>
                            </section>

                            <section>
                                <p>
                                    Es un objeto hace referencia al modelo en la aplicación.<br>
                                    El scope es un contexto de ejecución para las <a href="#/2/3">expresiones</a>.<br>
                                    Ademas, los scopes son organizados en una estructura jerárquica imitando la estructura del DOM.<br>
                                    Puden ver las expresiones y propagar eventos<br>
                                </p>
                            </section>

                            <section>
                                <ul>
                                    <li>Los scopes proveen un método $watch en su API para observar los cambios en el modelo.</li>
                                    <li>Proveen un método $apply para propagar los cambios a través del sistema desde la vista hacia afuera (Controllers, Services, Angular event handlers.</li>
                                    <li>Los scopes pueden ser nested, limitando asi el acceso a propidades del modelo:</li>
                                    <ul>
                                        <li>Child Scope: Hereda las propiedades del padre</li>
                                        <li>Insolated Scope: No hereda las propiedades del padre</li>
                                    </ul>
                                </ul>
                            </section>

                            <section>
                                <p>El scope es un pegamento entre la vista y el controller</p>
                                <p>En la fase de <strong>linking</strong> del template la directiva setea $watch expressions en el scope. <br>
                                    $watch permite a la directiva ser notificada de los cambios en las propiedades, lo que permite actualizar el DOM.
                                </p>
                                <p>Tanto controller como la directiva tienen una referencia al scope, pero no entre si</p>
                                <p>Este principio de visibilidad es muy óptimo porque hace asnóstico de la vista al controller y favorece las pruebas</p>
                                <pre>
<code>
function MyController($scope) {
    $scope.username = 'World';
    $scope.sayHello = function() {
        $scope.greeting = 'Hello ' + $scope.username + '!';
    };
}
</code>
                                </pre>
                            </section>
                        </section>

                        <section>
                            <section>
                                <h1>Services</h1>
                            </section>
                            <section>
                                <small>Un servicio, es un objeto (Singleton) que son enlazados mediante DI. son una herramienta poderosa para la organización de código en la aplicación.</small>
                            </section>
                        </section>

                        <section>
                            <section>
                                <h1>Web Component!!</h1>
                            </section>
                            <section>
                                <p>Imagina poder reutilizar tus Widgets en todas tus aplicaciones</p><br>
                                <p>Imagina poder reutilizar tus componentes lógicos en todas tus aplicaciones</p>


                            </section>
                            <!--p>
                                You can select from different transitions, like: <br>
                                <a href="?transition=cube#/transitions">Cube</a> -
                                <a href="?transition=page#/transitions">Page</a> -
                                <a href="?transition=concave#/transitions">Concave</a> -
                                <a href="?transition=zoom#/transitions">Zoom</a> -
                                <a href="?transition=linear#/transitions">Linear</a> -
                                <a href="?transition=fade#/transitions">Fade</a> -
                                <a href="?transition=none#/transitions">None</a> -
                                <a href="?#/transitions">Default</a>
                            </p-->

                            <section id="themes">
                                <h2>Como se compone?</h2>
                                <!--p>
                                    Reveal.js comes with a few themes built in: <br>
                                    <a href="?#/themes">Default</a> -
                                    <a href="?theme=sky#/themes">Sky</a> -
                                    <a href="?theme=beige#/themes">Beige</a> -
                                    <a href="?theme=simple#/themes">Simple</a> -
                                    <a href="?theme=serif#/themes">Serif</a> -
                                    <a href="?theme=night#/themes">Night</a> <br>
                                    <a href="?theme=moon#/themes">Moon</a> -
                                    <a href="?theme=solarized#/themes">Solarized</a>
                                </p-->
                                <!--h2>
                                    <font>
                                    <font>
                                    <font>
                                    &nbsp;&nbsp;<font style="font-size: 32px;"><font>Let's use </font>
                                    <font color="#6fa8dc">Packages </font>
                                    <font color="#ffffff">instead...</font>
                                    </font>
                                    </font>
                                    <font style="font-size: 32px;">
                                    </font>
                                    </font>
                                    <font style="font-size: 32px;">
                                    </font>
                                    </font>
                                    <font style="font-size: 32px;">
                                    </font>
                                </h2-->
                                <ul>
                                    <li><font color="#ffd966">Shadow DOM:</font> Permite <font color="#6fa8dc">encapsular </font>el DOM y CSS</li>
                                    <li><font color="#ffd966">HTML Templates:</font> Es una forma de clonar el DOM para que este sea reutilizado en la pagina</li>
                                    <li><font color="#ffd966">Custom elements:</font> Esto nos permite extender un elemento de HTML o bien crear uno nuevo.</li>
                                    <li><font color="#ffd966">HTML Imports:</font> Es la manera de inclusión de otros WebComponent.</li>
                                </ul>
                                <!--p>
                                    <small>
                                        * Theme demos are loaded after the presentation which leads to flicker. In production you should load your theme in the <code>&lt;head&gt;</code> using a <code>&lt;link&gt;</code>.
                                    </small>
                                </p-->
                            </section>

                            <section>
                                <h1>Shadow DOM</h1>
                                <ul>
                                    <li>shadow root: Nuevo tipo de nodo</li>
                                    <li>shadow host: Es todo nodo que tiene asociado un shadow root, 
                                        El contenido del shadow host no es renderizado, en su lugar es renderizado el contenido del shadow root</li>
                                </ul>
                                <pre>
                                <code data-trim contenteditable style="font-size: 18px;">
                                    
&lt;button&gt;Hello, world!&lt;/button&gt;
&lt;script&gt;
    var host = document.querySelector('button');
    var root = host.createShadowRoot();
    root.textContent = 'こんにちは、影の世界!';
&lt;/script&gt;

                                </code>
                            </pre>


                            <button>Hello, world!</button>
                            <script>
                                var host = document.querySelector('button');
                                var root = host.createShadowRoot();
                                root.textContent = 'こんにちは、影の世界!';
                            </script>

                            <pre>
                                <code data-trim contenteditable style="font-size: 18px;">
&lt;script&gt;
    var host  = document.querySelector('button');
    var label = document.getElementById("content_shadow_host");
    label.value = host.textContent;
&lt;/script&gt;
                                </code>
                            </pre>

                            <p id="content_shadow_host"></p>

                            <script>
                                var host = document.querySelector('button');
                                var label = document.getElementById("content_shadow_host");
                                label.innerHTML = host.textContent;
                            </script>

                        </section>

                        <section>
                            <h3>Shadow DOM & HTML Template</h3>

                            <pre>
                                <code data-trim contenteditable style="font-size: 18px;">                        
&lt;div id="nameTag"&gt;GDG Santa Fe&lt;/div&gt;
&lt;template id="nameTagTemplate"&gt;
&lt;style&gt;
.outer {
  border: 2px solid brown;

  … same as above …

&lt;/style&gt;
&lt;div class="outer"&gt;
  &lt;div class="boilerplate"&gt;
    Hi! My name is
  &lt;/div&gt;
  &lt;div class="name"&gt;
    Bob
  &lt;/div&gt;
&lt;/div&gt;
&lt;/template&gt;
                            </code>
                            </pre>

                            <div class="fragment" id="nameTag">GDG Santa Fe</div>
                            <template id="nameTagTemplate">
                                <style>

                                    .ex2a.outer {
                                        border: 2px solid brown;
                                        border-radius: 1em;
                                        background: red;
                                        font-size: 20pt;
                                        width: 12em;
                                        height: 7em;
                                        text-align: center;
                                    }
                                    .ex2a .boilerplate {
                                        color: white;
                                        font-family: sans-serif;
                                        padding: 0.5em;
                                    }
                                    .ex2a .name {
                                        color: black;
                                        background: white;
                                        font-family: "Marker Felt", cursive;
                                        font-size: 45pt;
                                        padding-top: 0.2em;
                                    }
                                </style>
                                <script>

                                </script>
                                <div class="ex2a outer">
                                    <div class="boilerplate">
                                        Hi! My name is
                                    </div>
                                    <div class="name">
                                        Bob
                                    </div>
                                </div>
                            </template>
                        </section>

                        <section data-state="shadow_template_loaded">
                            <h3>Shadow DOM & HTML Template</h3>

                            <pre>
                                <code data-trim contenteditable style="font-size: 18px;">                        
var shadow = document.querySelector('#nameTag').createShadowRoot();
var template = document.querySelector('#nameTagTemplate');
shadow.appendChild(template.content.cloneNode());
                            </code>
                            </pre>
                        </section>


                        <section>
                            <h3>Custom Elements</h3>
                            <p>Permite a los desarrolladores definir y/o extender elementos del HTML</p>
                            <pre>
                                <code data-trim contenteditable style="font-size: 18px;">                        
var XFoo = document.registerElement('x-foo');
document.body.appendChild(new XFoo());
                            </code>
                            </pre>

                            <script>
                                document.registerElement('x-foo');
                                var xFoo = document.createElement('x-foo');
                                xFoo.addEventListener('click', function(e) {
                                    alert('Thanks!');
                                });
                            </script>
                        </section>

                        <section>
                            <h3>HTML Imports</h3>
                            <p>Es una forma de incluir HTML Documents en otros HTML Documents, no solo HTML sino que CSS, JS y todo lo que pueda estar contenido dentro de un HTML Document</p>
                            <pre>
<code data-trim contenteditable>
&lt;head&gt;
  &lt;link rel="import" href="/path/to/imports/stuff.html"&gt;
&lt;/head&gt;
</code>
                            </pre>
                            <pre>

<code>
&lt;head&gt;
    <!-- Resources on other origins must be CORS-enabled. -->
    &lt;link rel="import" href="http://example.com/elements.html"&gt;
&lt;/head&gt;
</code>
                            </pre>

                        </section>

                    </section>

                    <section>

                        <section>
                            <h1>Polymer</h1>
                        </section>

                        <section>
                            <p>Polymer, esta construido sobre las últimas tecnologías para el desarrollo de aplicaciones modernas, pero nativamente no todo está soportado, por lo tanto, la capa mas baja de Polymer es platform.js o polyfill que son un conjunto de librerías que emulan lo que actualmente no esta soportado</p>
                            <p>platform.js esta desarrollado para ser utilizado de manera separa, por ejemplo: <strong>x-tag</strong> utiliza un subconjunto de platform.js.</p>
                        </section>

                        <section>
                            <ul>
                                <li>Web Components
                                    <ul>
                                        <li><a href="/platform/shadow-dom.html">Shadow DOM</a>. Encapsulate DOM subtrees and the associated CSS.</li>
                                        <li><a href="/platform/html-imports.html">HTML Imports</a>. Load element definitions and other resources declaratively.</li>
                                        <li><a href="/platform/custom-elements.html">Custom Elements</a> . Define new elements in HTML.</li>
                                    </ul>
                                </li>
                                <li>DOM
                                    <ul>
                                        <li><a href="https://github.com/Polymer/URL">URL</a>. Parse URLs in JavaScript.</li>
                                        <li><a href="https://github.com/Polymer/WeakMap">WeakMap</a>. Shim for ES6 WeakMap type. </li>
                                        <li><a href="https://github.com/Polymer/MutationObservers">Mutation Observers</a>. Efficiently watch for changes in the DOM.
                                            <!-- - [Promises](https://github.com/Polymer/Promises). Handle asynchronous operations. --></li>
                                        <li><a href="https://github.com/Polymer/observe-js">observe-js</a>. Observe changes on JS objects/arrays using <code>Object.observe</code> (if available).</li>
                                    </ul>
                                </li>
                                <li>Other
                                    <ul>
                                        <li><a href="https://github.com/Polymer/PointerEvents">Pointer Events</a>. Handle both touch and mouse seamlessly</li>
                                        <li><a href="https://github.com/Polymer/PointerGestures">Pointer Gestures</a>. More complex touch gestures.</li>
                                        <li><a href="/platform/web-animations.html">Web Animations</a>. Define complex timeline animations.</li>
                                    </ul>
                                </li>
                            </ul>
                        </section>
                        <section>
                            <h2>Un poco de HTML5</h2>
                            <p>Links de interés infaltables para todo desarrollador</p>
                            <ul>
                                <li>Tecnologías & Frameworks
                                    <ul>
                                        <li><a href="https://angularjs.org/">https://angularjs.org/</a>. AngularJS</li>
                                        <li><a href="http://campus.codeschool.com/courses/shaping-up-with-angular-js/">http://campus.codeschool.com/courses/shaping-up-with-angular-js/</a>. AngularJS Course</li>
                                        <li><a href="http://platform.html5.org/">http://platform.html5.org/</a>. Browser Tecnologies</li>
                                        <li><a href="http://html5please.com/">http://html5please.com/</a>. HTML5 Please</li>
                                        <li><a href="https://developer.mozilla.org/en-US/">https://developer.mozilla.org/en-US/</a>.MDN Mozilla</li>
                                        <li><a href="http://www.html5rocks.com/en/">http://www.html5rocks.com/en/</a>.HTML5 Rocks</li>
                                    </ul>
                                </li>
                            </ul>
                        </section>
                    </section>

                    <section>
                        <h2>
                            <font color="#666666">Sobre Mi</font>
                        </h2>
                        <div>
                            <br>
                        </div>
                        <div>
                            <font color="#ffd966" style="font-size: 54px;">Cristian Rinaldi</font>
                        </div>
                        <div>
                            <br>
                        </div>
                        <div>
                            <ul>
                                <li>
                                    <span style="text-align: center;">email: &nbsp; &nbsp; &nbsp;csrinaldi @ Gmail.com</span>
                                    <br>
                                </li>
                                <li>
                                    <span style="text-align: center;">twitter: &nbsp; &nbsp; &nbsp;@csrinaldi</span>
                                    <br>
                                </li>
                                <li>
                                    <span style="text-align: center;">Empresa: &nbsp; &nbsp; &nbsp;<a href="http://www.logicas.com" target="_blank">www.logikas.com</a>
                                    </span>
                                    <br>
                                </li>
                                <li>
                                    <span style="text-align: center;">G+: &nbsp; &nbsp;  &nbsp;</span>&nbsp; <a href="https://plus.google.com/108221888675664107719/posts?hl=es-419" target="_blank">+Cristian Rinaldi</a>
                                </li>
                                <li>
                                    <span style="text-align: center;">code: &nbsp; &nbsp; &nbsp; &nbsp; </span>&nbsp;<a href="https://github.com/csrinaldi" target="_blank">https://github.com/csrinaldi</a>
                                </li>
                            </ul>
                        </div>
                        <div>
                            <br>
                        </div>
                        <div>
                            <font color="#666666" style="font-size: 32px;">Necesita un, "front-end architect"?</font>
                        </div>
                        <div>
                            <font color="#666666" style="font-size: 32px;">Yo estoy buscando mi <i>próximo</i> gran proyecto...</font>
                        </div>
                    </section>

                    <!--section>
                        <h2>Export to PDF</h2>
                        <p>Presentations can be <a href="https://github.com/hakimel/reveal.js#pdf-export">exported to PDF</a>, below is an example that's been uploaded to SlideShare.</p>
                        <iframe id="slideshare" src="http://www.slideshare.net/slideshow/embed_code/13872948" width="455" height="356" style="margin:0;overflow:hidden;border:1px solid #CCC;border-width:1px 1px 0;margin-bottom:5px" allowfullscreen> </iframe>
                            <script>
                                document.getElementById('slideshare').attributeName = 'allowfullscreen';
                            </script>
                        </section-->
                </div>

            </div>

            <script src="lib/js/head.min.js"></script>
            <script src="js/reveal.min.js"></script>

            <script>

                                // Full list of configuration options available here:
                                // https://github.com/hakimel/reveal.js#configuration
                                Reveal.initialize({
                                    controls: true,
                                    progress: true,
                                    history: true,
                                    center: true,
                                    theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
                                    transition: Reveal.getQueryHash().transition || 'default', // default/cube/page/concave/zoom/linear/fade/none

                                    // Parallax scrolling
                                    // parallaxBackgroundImage: 'https://s3.amazonaws.com/hakim-static/reveal-js/reveal-parallax-1.jpg',
                                    // parallaxBackgroundSize: '2100px 900px',

                                    // Optional libraries used to extend on reveal.js
                                    dependencies: [
                                        {src: 'lib/js/classList.js', condition: function() {
                                                return !document.body.classList;
                                            }},
                                        {src: 'plugin/markdown/marked.js', condition: function() {
                                                return !!document.querySelector('[data-markdown]');
                                            }},
                                        {src: 'plugin/markdown/markdown.js', condition: function() {
                                                return !!document.querySelector('[data-markdown]');
                                            }},
                                        {src: 'plugin/highlight/highlight.js', async: true, callback: function() {
                                                hljs.initHighlightingOnLoad();
                                            }},
                                        {src: 'plugin/zoom-js/zoom.js', async: true, condition: function() {
                                                return !!document.body.classList;
                                            }},
                                        {src: 'plugin/notes/notes.js', async: true, condition: function() {
                                                return !!document.body.classList;
                                            }}
                                    ]
                                });

                                Reveal.addEventListener("shadow_template_loaded", function() {
                                    if (window.shadow === undefined) {
                                        window.shadow = true;
                                        var shadow = document.querySelector('#nameTag').createShadowRoot();
                                        var template = document.querySelector('#nameTagTemplate');
                                        shadow.appendChild(template.content);
                                    }
                                }, false);

                                Reveal.addEventListener("slidechanged", function() {
                                    //alert();
                                    /*var shadow = document.querySelector('#nameTag').createShadowRoot();
                                     var template = document.querySelector('#nameTagTemplate');
                                     shadow.appendChild(template.content);*/
                                }, false);

            </script>

        </body>
    </html>
